<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zjm_penquan/zjm_penquan_1.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>zjm_penquan/zjm_penquan_2.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>32</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zjm_penquan/zjm_penquan_3.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>66</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>zjm_penquan/zjm_penquan_4.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>101</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>zjm_penquan/zjm_penquan_5.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>136</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>zjm_penquan/zjm_penquan_6.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>171</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>zjm_penquan/zjm_penquan_7.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>206</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>zjm_penquan/zjm_penquan_8.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>zjm_penquan/zjm_penquan_9.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>274</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>zjm_penquan/zjm_penquan_10.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>308</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>zjm_penquan/zjm_penquan_11.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>342</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>zjm_penquan/zjm_penquan_12.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>377</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zjm_penquan/zjm_penquan_13.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>413</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>zjm_penquan/zjm_penquan_14.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>449</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>zjm_penquan/zjm_penquan_15.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>485</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>zjm_yan/zjm_yan_1.png</key>
			<dict>
				<key>width</key>
				<integer>340</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>521</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>zjm_yan/zjm_yan_2.png</key>
			<dict>
				<key>width</key>
				<integer>340</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>35</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>zjm_yan/zjm_yan_3.png</key>
			<dict>
				<key>width</key>
				<integer>340</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>340</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>zjm_yan/zjm_yan_4.png</key>
			<dict>
				<key>width</key>
				<integer>340</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>680</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>zjm_yan/zjm_yan_5.png</key>
			<dict>
				<key>width</key>
				<integer>340</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>161</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>zjm_yan/zjm_yan_6.png</key>
			<dict>
				<key>width</key>
				<integer>340</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>680</integer>
				<key>y</key>
				<integer>239</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>zjm_yan/zjm_yan_7.png</key>
			<dict>
				<key>width</key>
				<integer>340</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>278</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>zjm_yan/zjm_yan_8.png</key>
			<dict>
				<key>width</key>
				<integer>340</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>340</integer>
				<key>y</key>
				<integer>352</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>zjm_yan/zjm_yan_9.png</key>
			<dict>
				<key>width</key>
				<integer>340</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>680</integer>
				<key>y</key>
				<integer>352</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>zjm_yan/zjm_yan_10.png</key>
			<dict>
				<key>width</key>
				<integer>340</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>391</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>yun4.png</key>
			<dict>
				<key>width</key>
				<integer>214</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>214</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>340</integer>
				<key>y</key>
				<integer>471</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yun3.png</key>
			<dict>
				<key>width</key>
				<integer>705</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>705</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>529</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yun2.png</key>
			<dict>
				<key>width</key>
				<integer>563</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>563</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>622</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yun1.png</key>
			<dict>
				<key>width</key>
				<integer>660</integer>
				<key>height</key>
				<integer>182</integer>
				<key>originalWidth</key>
				<integer>660</integer>
				<key>originalHeight</key>
				<integer>182</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>722</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>zjm_yun_yan_penquan0.png</string>
			<key>realTextureFileName</key>
			<string>zjm_yun_yan_penquan0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>