<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gf_xingxing_1.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>saoguang2_2/saoguang2_2_1.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>48</integer>
				<key>offsetX</key>
				<real>85</real>
				<key>offsetY</key>
				<real>80</real>
			</dict>
			<key>saoguang2_2/saoguang2_2_2.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>217</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>117</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>72</real>
				<key>offsetY</key>
				<real>80.5</real>
			</dict>
			<key>saoguang2_2/saoguang2_2_3.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>238</integer>
				<key>offsetX</key>
				<real>68</real>
				<key>offsetY</key>
				<real>79.5</real>
			</dict>
			<key>saoguang2_2/saoguang2_2_4.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>233</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>262</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>62.5</real>
				<key>offsetY</key>
				<real>76.5</real>
			</dict>
			<key>saoguang2_2/saoguang2_2_5.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>238</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>151</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>54.5</real>
				<key>offsetY</key>
				<real>74</real>
			</dict>
			<key>saoguang2_2/saoguang2_2_6.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>237</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>307</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>48.5</real>
				<key>offsetY</key>
				<real>68.5</real>
			</dict>
			<key>saoguang2_2/saoguang2_2_7.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>218</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>422</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>37.5</real>
				<key>offsetY</key>
				<real>59</real>
			</dict>
			<key>saoguang2_2/saoguang2_2_8.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>211</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>562</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>27.5</real>
				<key>offsetY</key>
				<real>55.5</real>
			</dict>
			<key>saoguang2_2/saoguang2_2_9.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>686</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>21.5</real>
				<key>offsetY</key>
				<real>38</real>
			</dict>
			<key>saoguang2_2/saoguang2_2_10.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>453</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>40.5</real>
			</dict>
			<key>saoguang2_2/saoguang2_2_11.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>531</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>19</real>
			</dict>
			<key>saoguang2_2/saoguang2_2_12.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>226</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>800</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>17.5</real>
				<key>offsetY</key>
				<real>-58</real>
			</dict>
			<key>saoguang2_2/saoguang2_2_13.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>453</integer>
				<key>y</key>
				<integer>353</integer>
				<key>offsetX</key>
				<real>-42</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>saoguang2_2/saoguang2_2_14.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>603</integer>
				<key>y</key>
				<integer>211</integer>
				<key>offsetX</key>
				<real>-59</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>saoguang2_2/saoguang2_2_15.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>686</integer>
				<key>y</key>
				<integer>154</integer>
				<key>offsetX</key>
				<real>-74.5</real>
				<key>offsetY</key>
				<real>-23</real>
			</dict>
			<key>saoguang2_2/saoguang2_2_16.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>531</integer>
				<key>y</key>
				<integer>316</integer>
				<key>offsetX</key>
				<real>-75.5</real>
				<key>offsetY</key>
				<real>-33.5</real>
			</dict>
			<key>saoguang2_2/saoguang2_2_17.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>603</integer>
				<key>y</key>
				<integer>275</integer>
				<key>offsetX</key>
				<real>-76.5</real>
				<key>offsetY</key>
				<real>-39</real>
			</dict>
			<key>saoguang2_2/saoguang2_2_18.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>732</integer>
				<key>y</key>
				<integer>154</integer>
				<key>offsetX</key>
				<real>-73</real>
				<key>offsetY</key>
				<real>-53</real>
			</dict>
			<key>saoguang2_2/saoguang2_2_19.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>48</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-74</real>
				<key>offsetY</key>
				<real>-74</real>
			</dict>
			<key>saoguang2_2/saoguang2_2_20.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>81</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-81.5</real>
				<key>offsetY</key>
				<real>-78.5</real>
			</dict>
			<key>saoguang2_1/saoguang2_1_1.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>647</integer>
				<key>y</key>
				<integer>275</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>63</real>
			</dict>
			<key>saoguang2_1/saoguang2_1_2.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>579</integer>
				<key>y</key>
				<integer>397</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>62.5</real>
			</dict>
			<key>saoguang2_1/saoguang2_1_3.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>809</integer>
				<key>y</key>
				<integer>226</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>63</real>
			</dict>
			<key>saoguang2_1/saoguang2_1_4.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>741</integer>
				<key>y</key>
				<integer>383</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>63</real>
			</dict>
			<key>saoguang2_1/saoguang2_1_5.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>471</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>63</real>
			</dict>
			<key>saoguang2_1/saoguang2_1_6.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>577</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>63.5</real>
			</dict>
			<key>saoguang2_1/saoguang2_1_7.png</key>
			<dict>
				<key>width</key>
				<integer>161</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>162</integer>
				<key>y</key>
				<integer>471</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>63</real>
			</dict>
			<key>saoguang2_1/saoguang2_1_8.png</key>
			<dict>
				<key>width</key>
				<integer>161</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>682</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>63</real>
			</dict>
			<key>saoguang2_1/saoguang2_1_9.png</key>
			<dict>
				<key>width</key>
				<integer>161</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>162</integer>
				<key>y</key>
				<integer>577</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>63</real>
			</dict>
			<key>saoguang2_1/saoguang2_1_10.png</key>
			<dict>
				<key>width</key>
				<integer>161</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>788</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>63.5</real>
			</dict>
			<key>saoguang2_1/saoguang2_1_11.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>323</integer>
				<key>y</key>
				<integer>470</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>63.5</real>
			</dict>
			<key>saoguang2_1/saoguang2_1_12.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>161</integer>
				<key>y</key>
				<integer>683</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>63.5</real>
			</dict>
			<key>saoguang2_1/saoguang2_1_13.png</key>
			<dict>
				<key>width</key>
				<integer>163</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>895</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>63.5</real>
			</dict>
			<key>saoguang2_1/saoguang2_1_14.png</key>
			<dict>
				<key>width</key>
				<integer>163</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>323</integer>
				<key>y</key>
				<integer>577</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>63.5</real>
			</dict>
			<key>saoguang2_1/saoguang2_1_15.png</key>
			<dict>
				<key>width</key>
				<integer>163</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>323</integer>
				<key>y</key>
				<integer>684</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>63</real>
			</dict>
			<key>saoguang2_1/saoguang2_1_16.png</key>
			<dict>
				<key>width</key>
				<integer>163</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>163</integer>
				<key>y</key>
				<integer>792</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>63</real>
			</dict>
			<key>saoguang2_1/saoguang2_1_17.png</key>
			<dict>
				<key>width</key>
				<integer>163</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>163</integer>
				<key>y</key>
				<integer>900</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>63</real>
			</dict>
			<key>saoguang2_1/saoguang2_1_18.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>486</integer>
				<key>y</key>
				<integer>504</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>63</real>
			</dict>
			<key>saoguang2_1/saoguang2_1_19.png</key>
			<dict>
				<key>width</key>
				<integer>161</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>486</integer>
				<key>y</key>
				<integer>612</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>63</real>
			</dict>
			<key>saoguang2_1/saoguang2_1_20.png</key>
			<dict>
				<key>width</key>
				<integer>161</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>326</integer>
				<key>y</key>
				<integer>792</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>63</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>gf_saoguang40.png</string>
			<key>realTextureFileName</key>
			<string>gf_saoguang40.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>