<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gk_huangguan_sg/gk_huangguan_sg_1.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-85.5</real>
				<key>offsetY</key>
				<real>20</real>
			</dict>
			<key>gk_huangguan_sg/gk_huangguan_sg_2.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>24</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-84</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>gk_huangguan_sg/gk_huangguan_sg_3.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>51</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-74</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>gk_huangguan_sg/gk_huangguan_sg_4.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-52.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>gk_huangguan_sg/gk_huangguan_sg_5.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>174</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-39</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>gk_huangguan_sg/gk_huangguan_sg_6.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>267</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-34.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gk_huangguan_sg/gk_huangguan_sg_7.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>359</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-30.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>gk_huangguan_sg/gk_huangguan_sg_8.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>451</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>gk_huangguan_sg/gk_huangguan_sg_9.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>541</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-13</real>
			</dict>
			<key>gk_huangguan_sg/gk_huangguan_sg_10.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>637</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>-21</real>
			</dict>
			<key>gk_huangguan_sg/gk_huangguan_sg_11.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>730</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>34</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>gk_huangguan_sg/gk_huangguan_sg_12.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>841</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>47</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>gk_huangguan_sg/gk_huangguan_sg_13.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>55</real>
				<key>offsetY</key>
				<real>-12</real>
			</dict>
			<key>gk_huangguan_sg/gk_huangguan_sg_14.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>89</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>61</real>
				<key>offsetY</key>
				<real>-12.5</real>
			</dict>
			<key>gk_huangguan_sg/gk_huangguan_sg_15.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>158</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>67.5</real>
				<key>offsetY</key>
				<real>-24</real>
			</dict>
			<key>gk_huangguan_sg/gk_huangguan_sg_16.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>208</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>70</real>
				<key>offsetY</key>
				<real>-43.5</real>
			</dict>
			<key>huangguan.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>229</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss_caidai.png</key>
			<dict>
				<key>width</key>
				<integer>695</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>695</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>259</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>gk_boss_shengli0.png</string>
			<key>realTextureFileName</key>
			<string>gk_boss_shengli0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>