<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gk_xian_shengli_1.png</key>
			<dict>
				<key>width</key>
				<integer>794</integer>
				<key>height</key>
				<integer>489</integer>
				<key>originalWidth</key>
				<integer>794</integer>
				<key>originalHeight</key>
				<integer>489</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gk_xian_shibai_1.png</key>
			<dict>
				<key>width</key>
				<integer>782</integer>
				<key>height</key>
				<integer>474</integer>
				<key>originalWidth</key>
				<integer>782</integer>
				<key>originalHeight</key>
				<integer>474</integer>
				<key>x</key>
				<integer>794</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bj-shengli-qi.png</key>
			<dict>
				<key>width</key>
				<integer>750</integer>
				<key>height</key>
				<integer>493</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>493</integer>
				<key>x</key>
				<integer>794</integer>
				<key>y</key>
				<integer>474</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bj-shibai-qi.png</key>
			<dict>
				<key>width</key>
				<integer>750</integer>
				<key>height</key>
				<integer>486</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>486</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>489</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaohuohua/xiaohuohua_1.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>1576</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>xiaohuohua/xiaohuohua_2.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>1604</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>xiaohuohua/xiaohuohua_3.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>1645</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>xiaohuohua/xiaohuohua_4.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>1695</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>xiaohuohua/xiaohuohua_5.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>1753</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>xiaohuohua/xiaohuohua_6.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>1815</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>gk_fangshexian.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>81</integer>
				<key>x</key>
				<integer>1878</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gk_xiaojian.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>42</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1957</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>gk_xiaoguo0.png</string>
			<key>realTextureFileName</key>
			<string>gk_xiaoguo0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>