<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>jr_shangci/jr_shangci_1.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>jr_shangci/jr_shangci_2.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>99</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>jr_shangci/jr_shangci_3.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>214</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>jr_shangci/jr_shangci_4.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>336</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>jr_shangci/jr_shangci_5.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>jr_shangci/jr_shangci_6.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>124</integer>
				<key>y</key>
				<integer>121</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>jr_shangci/jr_shangci_7.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>244</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>jr_shangci/jr_shangci_8.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>352</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>jr_shangci/jr_shangci_9.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>352</integer>
				<key>y</key>
				<integer>236</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>jr_shangci/jr_shangci_10.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>238</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>jr_shangci/jr_shangci_11.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>105</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>jr_shangci/jr_shangci_12.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>198</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>jr_shangci/jr_shangci_13.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>289</integer>
				<key>y</key>
				<integer>335</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>jr_shangci/jr_shangci_14.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>378</integer>
				<key>y</key>
				<integer>335</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>jr_shangci/jr_shangci_15.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>465</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-46.5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>jr_shangci/jr_shangci_16.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>466</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>63.5</real>
				<key>offsetY</key>
				<real>-63.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>jr_shangci0.png</string>
			<key>realTextureFileName</key>
			<string>jr_shangci0.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>