<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mk_tanchuang/bj_tishi_1.png</key>
			<dict>
				<key>width</key>
				<integer>321</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>340</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>mk_tanchuang/bj_tishi_2.png</key>
			<dict>
				<key>width</key>
				<integer>321</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>340</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>321</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>mk_tanchuang/bj_tishi_3.png</key>
			<dict>
				<key>width</key>
				<integer>321</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>340</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>642</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>mk_tanchuang/bj_tishi_4.png</key>
			<dict>
				<key>width</key>
				<integer>321</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>340</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>963</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>mk_tanchuang/bj_tishi_5.png</key>
			<dict>
				<key>width</key>
				<integer>321</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>340</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>1284</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>mk_tanchuang/bj_tishi_6.png</key>
			<dict>
				<key>width</key>
				<integer>321</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>340</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>1605</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>mk_tanchuang/bj_tishi_7.png</key>
			<dict>
				<key>width</key>
				<integer>321</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>340</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>138</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>mk_tanchuang/bj_tishi_8.png</key>
			<dict>
				<key>width</key>
				<integer>321</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>340</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>321</integer>
				<key>y</key>
				<integer>138</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>mk_tanchuang/bj_tishi_9.png</key>
			<dict>
				<key>width</key>
				<integer>321</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>340</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>642</integer>
				<key>y</key>
				<integer>138</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>mk_tanchuang/bj_tishi_10.png</key>
			<dict>
				<key>width</key>
				<integer>321</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>340</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>963</integer>
				<key>y</key>
				<integer>138</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>mk_tanchuang/bj_tishi_11.png</key>
			<dict>
				<key>width</key>
				<integer>321</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>340</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>1284</integer>
				<key>y</key>
				<integer>138</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>mk_tanchuang/bj_tishi_12.png</key>
			<dict>
				<key>width</key>
				<integer>321</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>340</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>1605</integer>
				<key>y</key>
				<integer>138</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>mk_tanchuang/bj_tishi_13.png</key>
			<dict>
				<key>width</key>
				<integer>321</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>340</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>276</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>mk_tanchuang/bj_tishi_14.png</key>
			<dict>
				<key>width</key>
				<integer>321</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>340</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>321</integer>
				<key>y</key>
				<integer>276</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>mk_tanchuang/bj_tishi_15.png</key>
			<dict>
				<key>width</key>
				<integer>321</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>340</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>642</integer>
				<key>y</key>
				<integer>276</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>mk_tanchuang/bj_tishi_16.png</key>
			<dict>
				<key>width</key>
				<integer>321</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>340</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>963</integer>
				<key>y</key>
				<integer>276</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>mk_tanchuang1/bj_ying_tishi_1.png</key>
			<dict>
				<key>width</key>
				<integer>426</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>1284</integer>
				<key>y</key>
				<integer>276</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>mk_tanchuang1/bj_ying_tishi_2.png</key>
			<dict>
				<key>width</key>
				<integer>425</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>424</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>mk_tanchuang1/bj_ying_tishi_3.png</key>
			<dict>
				<key>width</key>
				<integer>424</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>425</integer>
				<key>y</key>
				<integer>424</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>mk_tanchuang1/bj_ying_tishi_4.png</key>
			<dict>
				<key>width</key>
				<integer>422</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>849</integer>
				<key>y</key>
				<integer>424</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>mk_tanchuang1/bj_ying_tishi_5.png</key>
			<dict>
				<key>width</key>
				<integer>422</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>1271</integer>
				<key>y</key>
				<integer>424</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>mk_tanchuang1/bj_ying_tishi_6.png</key>
			<dict>
				<key>width</key>
				<integer>421</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>572</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>mk_tanchuang1/bj_ying_tishi_7.png</key>
			<dict>
				<key>width</key>
				<integer>422</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>421</integer>
				<key>y</key>
				<integer>572</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>mk_tanchuang1/bj_ying_tishi_8.png</key>
			<dict>
				<key>width</key>
				<integer>420</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>843</integer>
				<key>y</key>
				<integer>572</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>mk_tanchuang1/bj_ying_tishi_9.png</key>
			<dict>
				<key>width</key>
				<integer>428</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>1263</integer>
				<key>y</key>
				<integer>572</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>mk_tanchuang1/bj_ying_tishi_10.png</key>
			<dict>
				<key>width</key>
				<integer>429</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>723</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>mk_tanchuang1/bj_ying_tishi_11.png</key>
			<dict>
				<key>width</key>
				<integer>430</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>429</integer>
				<key>y</key>
				<integer>723</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>mk_tanchuang1/bj_ying_tishi_12.png</key>
			<dict>
				<key>width</key>
				<integer>432</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>859</integer>
				<key>y</key>
				<integer>723</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>mk_tanchuang1/bj_ying_tishi_13.png</key>
			<dict>
				<key>width</key>
				<integer>430</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>1291</integer>
				<key>y</key>
				<integer>723</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>mk_tanchuang1/bj_ying_tishi_14.png</key>
			<dict>
				<key>width</key>
				<integer>428</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>874</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>mk_tanchuang1/bj_ying_tishi_15.png</key>
			<dict>
				<key>width</key>
				<integer>426</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>428</integer>
				<key>y</key>
				<integer>874</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>mk_tanchuang1/bj_ying_tishi_16.png</key>
			<dict>
				<key>width</key>
				<integer>427</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>854</integer>
				<key>y</key>
				<integer>874</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mk_tanchuang0.png</string>
			<key>realTextureFileName</key>
			<string>mk_tanchuang0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>