<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wobao_tu_1.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>12</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>81</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>54.5</real>
				<key>offsetY</key>
				<real>-29.5</real>
			</dict>
			<key>wobao_tu_2.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>14</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>81</integer>
				<key>x</key>
				<integer>19</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>54.5</real>
				<key>offsetY</key>
				<real>-27.5</real>
			</dict>
			<key>wobao_tu_3.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>81</integer>
				<key>x</key>
				<integer>42</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>53.5</real>
				<key>offsetY</key>
				<real>-27.5</real>
			</dict>
			<key>wobao_tu_4.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>81</integer>
				<key>x</key>
				<integer>67</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>52.5</real>
				<key>offsetY</key>
				<real>-26</real>
			</dict>
			<key>wobao_tu_5.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>81</integer>
				<key>x</key>
				<integer>90</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>52.5</real>
				<key>offsetY</key>
				<real>-26.5</real>
			</dict>
			<key>wobao_tu_6.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>81</integer>
				<key>x</key>
				<integer>119</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>49</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>wobao_tu_7.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>81</integer>
				<key>x</key>
				<integer>147</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>29</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>wobao_tu_8.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>81</integer>
				<key>x</key>
				<integer>183</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-27.5</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
			<key>wobao_tu_9.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>81</integer>
				<key>x</key>
				<integer>258</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-54.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>wabao_tieqiao.png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>210</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>301</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>wabao_keng.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>210</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>wabao0.png</string>
			<key>realTextureFileName</key>
			<string>wabao0.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>