<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wjxx_gwsg/wjxx_gwsg_1.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-128.5</real>
				<key>offsetY</key>
				<real>15.5</real>
			</dict>
			<key>wjxx_gwsg/wjxx_gwsg_2.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>17</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-118.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>wjxx_gwsg/wjxx_gwsg_3.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>54</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-108.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>wjxx_gwsg/wjxx_gwsg_4.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>111</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-95</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>wjxx_gwsg/wjxx_gwsg_5.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>183</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-75</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>wjxx_gwsg/wjxx_gwsg_6.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>255</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-54</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>wjxx_gwsg/wjxx_gwsg_7.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>327</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-33.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>wjxx_gwsg/wjxx_gwsg_8.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>400</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>wjxx_gwsg/wjxx_gwsg_9.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>43</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>wjxx_gwsg/wjxx_gwsg_10.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>72</integer>
				<key>y</key>
				<integer>43</integer>
				<key>offsetX</key>
				<real>28.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>wjxx_gwsg/wjxx_gwsg_11.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>145</integer>
				<key>y</key>
				<integer>43</integer>
				<key>offsetX</key>
				<real>49.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>wjxx_gwsg/wjxx_gwsg_12.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>218</integer>
				<key>y</key>
				<integer>43</integer>
				<key>offsetX</key>
				<real>71</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>wjxx_gwsg/wjxx_gwsg_13.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>292</integer>
				<key>y</key>
				<integer>43</integer>
				<key>offsetX</key>
				<real>91.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>wjxx_gwsg/wjxx_gwsg_14.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>365</integer>
				<key>y</key>
				<integer>43</integer>
				<key>offsetX</key>
				<real>106</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>wjxx_gwsg/wjxx_gwsg_15.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>427</integer>
				<key>y</key>
				<integer>43</integer>
				<key>offsetX</key>
				<real>116.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>wjxx_gwsg/wjxx_gwsg_16.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>468</integer>
				<key>y</key>
				<integer>43</integer>
				<key>offsetX</key>
				<real>127.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>wjxx_gwdb/wjxx_gwdb_1.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>86</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>wjxx_gwdb/wjxx_gwdb_2.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>86</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>wjxx_gwdb/wjxx_gwdb_3.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>121</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>wjxx_gwdb/wjxx_gwdb_4.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>121</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>wjxx_gwdb/wjxx_gwdb_5.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>156</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>wjxx_gwdb/wjxx_gwdb_6.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>156</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>wjxx_gwdb/wjxx_gwdb_7.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>191</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>wjxx_gwdb/wjxx_gwdb_8.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>191</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>wjxx_gwdb/wjxx_gwdb_9.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>226</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>wjxx_gwdb/wjxx_gwdb_10.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>226</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>wjxx_gwdb/wjxx_gwdb_11.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>261</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>wjxx_gwdb/wjxx_gwdb_12.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>261</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>wjxx_gwdb/wjxx_gwdb_13.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>296</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>wjxx_gwdb/wjxx_gwdb_14.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>296</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>wjxx_gwdb/wjxx_gwdb_15.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>wjxx_gwdb/wjxx_gwdb_16.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>wjxx_dengji0.png</string>
			<key>realTextureFileName</key>
			<string>wjxx_dengji0.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>