<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zjm_shuiwen3/zjm_shuiwen3_1.png</key>
			<dict>
				<key>width</key>
				<integer>147</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>zjm_shuiwen3/zjm_shuiwen3_2.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>147</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>zjm_shuiwen3/zjm_shuiwen3_3.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>295</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>zjm_shuiwen3/zjm_shuiwen3_4.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>443</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>zjm_shuiwen3/zjm_shuiwen3_5.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>591</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>zjm_shuiwen3/zjm_shuiwen3_6.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>740</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>zjm_shuiwen3/zjm_shuiwen3_7.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>443</integer>
				<key>y</key>
				<integer>22</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>zjm_shuiwen3/zjm_shuiwen3_8.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>594</integer>
				<key>y</key>
				<integer>22</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>zjm_shuiwen3/zjm_shuiwen3_9.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>745</integer>
				<key>y</key>
				<integer>22</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>zjm_shuiwen3/zjm_shuiwen3_10.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>23</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>zjm_shuiwen2/zjm_shuiwen2_1.png</key>
			<dict>
				<key>width</key>
				<integer>638</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>660</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>151</integer>
				<key>y</key>
				<integer>44</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>zjm_shuiwen2/zjm_shuiwen2_2.png</key>
			<dict>
				<key>width</key>
				<integer>638</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>660</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>zjm_shuiwen2/zjm_shuiwen2_3.png</key>
			<dict>
				<key>width</key>
				<integer>638</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>660</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>204</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>zjm_shuiwen2/zjm_shuiwen2_4.png</key>
			<dict>
				<key>width</key>
				<integer>638</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>660</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>284</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>zjm_shuiwen2/zjm_shuiwen2_5.png</key>
			<dict>
				<key>width</key>
				<integer>638</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>660</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>364</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>zjm_shuiwen2/zjm_shuiwen2_6.png</key>
			<dict>
				<key>width</key>
				<integer>639</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>660</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>445</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>zjm_shuiwen2/zjm_shuiwen2_7.png</key>
			<dict>
				<key>width</key>
				<integer>639</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>660</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>528</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>zjm_shuiwen2/zjm_shuiwen2_8.png</key>
			<dict>
				<key>width</key>
				<integer>639</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>660</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>612</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>zjm_shuiwen2/zjm_shuiwen2_9.png</key>
			<dict>
				<key>width</key>
				<integer>639</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>660</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>696</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>zjm_shuiwen2/zjm_shuiwen2_10.png</key>
			<dict>
				<key>width</key>
				<integer>638</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>660</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>779</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>zjm_shuiwen1/zjm_shuiwen1_1.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>896</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>zjm_shuiwen1/zjm_shuiwen1_2.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>923</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>zjm_shuiwen1/zjm_shuiwen1_3.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>951</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>zjm_shuiwen1/zjm_shuiwen1_4.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>980</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>zjm_shuiwen1/zjm_shuiwen1_5.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>789</integer>
				<key>y</key>
				<integer>44</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>zjm_shuiwen1/zjm_shuiwen1_6.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>818</integer>
				<key>y</key>
				<integer>44</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>zjm_shuiwen1/zjm_shuiwen1_7.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>847</integer>
				<key>y</key>
				<integer>44</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>zjm_shuiwen1/zjm_shuiwen1_8.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>639</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>zjm_shuiwen1/zjm_shuiwen1_9.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>668</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>zjm_shuiwen1/zjm_shuiwen1_10.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>697</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>zjm_shuiwen0.png</string>
			<key>realTextureFileName</key>
			<string>zjm_shuiwen0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>