<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>xuanwo/xuanwo_1.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>xuanwo/xuanwo_2.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>70</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>xuanwo/xuanwo_3.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>139</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>xuanwo/xuanwo_4.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>208</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>xuanwo/xuanwo_5.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>278</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>xuanwo/xuanwo_6.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>347</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>xuanwo/xuanwo_7.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>416</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>xuanwo/xuanwo_8.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>xuanwo/xuanwo_9.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>69</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>xuanwo/xuanwo_10.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>139</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>xuanwo/xuanwo_11.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>210</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>xuanwo/xuanwo_12.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>281</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>xuanwo/xuanwo_13.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>352</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>xuanwo/xuanwo_14.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>422</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>xuanwo/xuanwo_15.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>207</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>chuansongmen0.png</string>
			<key>realTextureFileName</key>
			<string>chuansongmen0.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>