<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hero1_standby/hero1_standby.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>hero1_move/hero1_move_1.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>77</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-18</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>hero1_move/hero1_move_2.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>228</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>hero1_move/hero1_move_3.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>378</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>hero1_move/hero1_move_4.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>529</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>hero1_move/hero1_move_5.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>683</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>hero1_move/hero1_move_6.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>851</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>hero1_move/hero1_move_7.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>378</integer>
				<key>y</key>
				<integer>140</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>hero1_move/hero1_move_8.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>529</integer>
				<key>y</key>
				<integer>140</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>hero1_move/hero1_move_9.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>77</integer>
				<key>y</key>
				<integer>141</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>hero1_death/hero1_death.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>261</integer>
				<key>originalHeight</key>
				<integer>73</integer>
				<key>x</key>
				<integer>679</integer>
				<key>y</key>
				<integer>142</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>hero1_attack/hero1_attack_1.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>297</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>227</integer>
				<key>y</key>
				<integer>141</integer>
				<key>offsetX</key>
				<real>-61.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>hero1_attack/hero1_attack_2.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>297</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>679</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>-73.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>hero1_attack/hero1_attack_3.png</key>
			<dict>
				<key>width</key>
				<integer>271</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>297</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>369</integer>
				<key>y</key>
				<integer>280</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>hero1_attack/hero1_attack_4.png</key>
			<dict>
				<key>width</key>
				<integer>271</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>297</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>283</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>hero1_attack/hero1_attack_5.png</key>
			<dict>
				<key>width</key>
				<integer>194</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>297</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>829</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>-27.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>hero1_cheer/hero1_cheer_1.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>222</integer>
				<key>x</key>
				<integer>271</integer>
				<key>y</key>
				<integer>281</integer>
				<key>offsetX</key>
				<real>-16</real>
				<key>offsetY</key>
				<real>-21.5</real>
			</dict>
			<key>hero1_cheer/hero1_cheer_2.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>202</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>222</integer>
				<key>x</key>
				<integer>640</integer>
				<key>y</key>
				<integer>333</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>hero10.png</string>
			<key>realTextureFileName</key>
			<string>hero10.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>