<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>phb_juanzhou_sg_1_1.png</key>
			<dict>
				<key>width</key>
				<integer>364</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>19.5</real>
			</dict>
			<key>gf_xingxing_1.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>364</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>phb_juanzhou_sg/juanzhou_sg_1.png</key>
			<dict>
				<key>width</key>
				<integer>305</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>412</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>14</real>
			</dict>
			<key>phb_juanzhou_sg/juanzhou_sg_2.png</key>
			<dict>
				<key>width</key>
				<integer>305</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>717</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
			<key>phb_juanzhou_sg/juanzhou_sg_3.png</key>
			<dict>
				<key>width</key>
				<integer>305</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>149</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>13</real>
			</dict>
			<key>phb_juanzhou_sg/juanzhou_sg_4.png</key>
			<dict>
				<key>width</key>
				<integer>304</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>305</integer>
				<key>y</key>
				<integer>149</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>phb_juanzhou_sg/juanzhou_sg_5.png</key>
			<dict>
				<key>width</key>
				<integer>304</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>609</integer>
				<key>y</key>
				<integer>149</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>phb_juanzhou_sg/juanzhou_sg_6.png</key>
			<dict>
				<key>width</key>
				<integer>302</integer>
				<key>height</key>
				<integer>133</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>284</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>phb_juanzhou_sg/juanzhou_sg_7.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>302</integer>
				<key>y</key>
				<integer>284</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>phb_juanzhou_sg/juanzhou_sg_8.png</key>
			<dict>
				<key>width</key>
				<integer>296</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>602</integer>
				<key>y</key>
				<integer>284</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>phb_juanzhou_sg/juanzhou_sg_9.png</key>
			<dict>
				<key>width</key>
				<integer>293</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>417</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>phb_juanzhou_sg/juanzhou_sg_10.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>293</integer>
				<key>y</key>
				<integer>417</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>phb_juanzhou_sg/juanzhou_sg_11.png</key>
			<dict>
				<key>width</key>
				<integer>296</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>587</integer>
				<key>y</key>
				<integer>417</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
			<key>phb_juanzhou_sg/juanzhou_sg_12.png</key>
			<dict>
				<key>width</key>
				<integer>296</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>542</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
			<key>phb_juanzhou_sg/juanzhou_sg_13.png</key>
			<dict>
				<key>width</key>
				<integer>298</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>296</integer>
				<key>y</key>
				<integer>542</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>16</real>
			</dict>
			<key>phb_juanzhou_sg/juanzhou_sg_14.png</key>
			<dict>
				<key>width</key>
				<integer>301</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>594</integer>
				<key>y</key>
				<integer>542</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>15</real>
			</dict>
			<key>phb_juanzhou_sg/juanzhou_sg_15.png</key>
			<dict>
				<key>width</key>
				<integer>303</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>672</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>14</real>
			</dict>
			<key>phb_juanzhou_sg/juanzhou_sg_16.png</key>
			<dict>
				<key>width</key>
				<integer>303</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>303</integer>
				<key>y</key>
				<integer>672</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>14</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>phb_juanzhou_sg0.png</string>
			<key>realTextureFileName</key>
			<string>phb_juanzhou_sg0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>