<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gf_xingxing_1.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>saoguang11_3/saoguang11_3_1.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>48</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-110</real>
				<key>offsetY</key>
				<real>97</real>
			</dict>
			<key>saoguang11_3/saoguang11_3_2.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>69</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-111.5</real>
				<key>offsetY</key>
				<real>100.5</real>
			</dict>
			<key>saoguang11_3/saoguang11_3_3.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>93</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-116.5</real>
				<key>offsetY</key>
				<real>104.5</real>
			</dict>
			<key>saoguang11_3/saoguang11_3_4.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>48</integer>
				<key>offsetX</key>
				<real>-118.5</real>
				<key>offsetY</key>
				<real>108</real>
			</dict>
			<key>saoguang11_3/saoguang11_3_5.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>38</integer>
				<key>y</key>
				<integer>48</integer>
				<key>offsetX</key>
				<real>-119.5</real>
				<key>offsetY</key>
				<real>111.5</real>
			</dict>
			<key>saoguang11_3/saoguang11_3_6.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>78</integer>
				<key>y</key>
				<integer>37</integer>
				<key>offsetX</key>
				<real>-120.5</real>
				<key>offsetY</key>
				<real>116</real>
			</dict>
			<key>saoguang11_3/saoguang11_3_7.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>127</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-121</real>
				<key>offsetY</key>
				<real>122</real>
			</dict>
			<key>saoguang11_3/saoguang11_3_8.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>170</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-122</real>
				<key>offsetY</key>
				<real>128</real>
			</dict>
			<key>saoguang11_3/saoguang11_3_9.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>99</integer>
				<key>offsetX</key>
				<real>-123</real>
				<key>offsetY</key>
				<real>132.5</real>
			</dict>
			<key>saoguang11_3/saoguang11_3_10.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>45</integer>
				<key>y</key>
				<integer>99</integer>
				<key>offsetX</key>
				<real>-123.5</real>
				<key>offsetY</key>
				<real>138</real>
			</dict>
			<key>saoguang11_3/saoguang11_3_11.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>91</integer>
				<key>y</key>
				<integer>95</integer>
				<key>offsetX</key>
				<real>-124.5</real>
				<key>offsetY</key>
				<real>145</real>
			</dict>
			<key>saoguang11_3/saoguang11_3_12.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>171</integer>
				<key>offsetX</key>
				<real>-125.5</real>
				<key>offsetY</key>
				<real>151</real>
			</dict>
			<key>saoguang11_3/saoguang11_3_13.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>46</integer>
				<key>y</key>
				<integer>171</integer>
				<key>offsetX</key>
				<real>-126</real>
				<key>offsetY</key>
				<real>154.5</real>
			</dict>
			<key>saoguang11_3/saoguang11_3_14.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>137</integer>
				<key>y</key>
				<integer>62</integer>
				<key>offsetX</key>
				<real>-127</real>
				<key>offsetY</key>
				<real>158</real>
			</dict>
			<key>saoguang11_3/saoguang11_3_15.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>184</integer>
				<key>y</key>
				<integer>62</integer>
				<key>offsetX</key>
				<real>-128</real>
				<key>offsetY</key>
				<real>161.5</real>
			</dict>
			<key>saoguang11_3/saoguang11_3_16.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>137</integer>
				<key>y</key>
				<integer>120</integer>
				<key>offsetX</key>
				<real>-128.5</real>
				<key>offsetY</key>
				<real>165</real>
			</dict>
			<key>saoguang11_3/saoguang11_3_17.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>93</integer>
				<key>y</key>
				<integer>167</integer>
				<key>offsetX</key>
				<real>-129</real>
				<key>offsetY</key>
				<real>168</real>
			</dict>
			<key>saoguang11_3/saoguang11_3_18.png</key>
			<dict>
				<key>width</key>
				<integer>6</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>48</integer>
				<key>y</key>
				<integer>22</integer>
				<key>offsetX</key>
				<real>-148.5</real>
				<key>offsetY</key>
				<real>169</real>
			</dict>
			<key>saoguang11_3/saoguang11_3_19.png</key>
			<dict>
				<key>width</key>
				<integer>4</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>54</integer>
				<key>y</key>
				<integer>22</integer>
				<key>offsetX</key>
				<real>-149.5</real>
				<key>offsetY</key>
				<real>172.5</real>
			</dict>
			<key>saoguang11_3/saoguang11_3_20.png</key>
			<dict>
				<key>width</key>
				<integer>3</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>58</integer>
				<key>y</key>
				<integer>22</integer>
				<key>offsetX</key>
				<real>-150</real>
				<key>offsetY</key>
				<real>176</real>
			</dict>
			<key>saoguang11_2/saoguang11_2_1.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>215</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>42.5</real>
				<key>offsetY</key>
				<real>-48.5</real>
			</dict>
			<key>saoguang11_2/saoguang11_2_2.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>215</integer>
				<key>y</key>
				<integer>23</integer>
				<key>offsetX</key>
				<real>37.5</real>
				<key>offsetY</key>
				<real>-43</real>
			</dict>
			<key>saoguang11_2/saoguang11_2_3.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>184</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>36</real>
				<key>offsetY</key>
				<real>-37</real>
			</dict>
			<key>saoguang11_2/saoguang11_2_4.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>138</integer>
				<key>y</key>
				<integer>164</integer>
				<key>offsetX</key>
				<real>34</real>
				<key>offsetY</key>
				<real>-27</real>
			</dict>
			<key>saoguang11_2/saoguang11_2_5.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>253</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>16.5</real>
				<key>offsetY</key>
				<real>-12</real>
			</dict>
			<key>saoguang11_2/saoguang11_2_6.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>225</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>saoguang11_2/saoguang11_2_7.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>347</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>saoguang11_2/saoguang11_2_8.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>243</integer>
				<key>offsetX</key>
				<real>14</real>
				<key>offsetY</key>
				<real>26</real>
			</dict>
			<key>saoguang11_2/saoguang11_2_9.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>178</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>125</integer>
				<key>y</key>
				<integer>234</integer>
				<key>offsetX</key>
				<real>18</real>
				<key>offsetY</key>
				<real>35</real>
			</dict>
			<key>saoguang11_2/saoguang11_2_10.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>328</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>18</real>
				<key>offsetY</key>
				<real>42</real>
			</dict>
			<key>saoguang11_2/saoguang11_2_11.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>258</integer>
				<key>y</key>
				<integer>286</integer>
				<key>offsetX</key>
				<real>20</real>
				<key>offsetY</key>
				<real>53.5</real>
			</dict>
			<key>saoguang11_2/saoguang11_2_12.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>461</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>20</real>
				<key>offsetY</key>
				<real>71.5</real>
			</dict>
			<key>saoguang11_2/saoguang11_2_13.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>590</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>18</real>
				<key>offsetY</key>
				<real>77.5</real>
			</dict>
			<key>saoguang11_2/saoguang11_2_14.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>461</integer>
				<key>y</key>
				<integer>147</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>82.5</real>
			</dict>
			<key>saoguang11_2/saoguang11_2_15.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>387</integer>
				<key>y</key>
				<integer>286</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>88.5</real>
			</dict>
			<key>saoguang11_2/saoguang11_2_16.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>407</integer>
				<key>offsetX</key>
				<real>-36</real>
				<key>offsetY</key>
				<real>95</real>
			</dict>
			<key>saoguang11_2/saoguang11_2_17.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>43</integer>
				<key>y</key>
				<integer>407</integer>
				<key>offsetX</key>
				<real>-36</real>
				<key>offsetY</key>
				<real>109</real>
			</dict>
			<key>saoguang11_2/saoguang11_2_18.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>181</integer>
				<key>y</key>
				<integer>164</integer>
				<key>offsetX</key>
				<real>-36</real>
				<key>offsetY</key>
				<real>111</real>
			</dict>
			<key>saoguang11_2/saoguang11_2_19.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>86</integer>
				<key>y</key>
				<integer>412</integer>
				<key>offsetX</key>
				<real>-36</real>
				<key>offsetY</key>
				<real>115.5</real>
			</dict>
			<key>saoguang11_2/saoguang11_2_20.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>258</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>-38</real>
				<key>offsetY</key>
				<real>122</real>
			</dict>
			<key>saoguang11_1/saoguang11_1_1.png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>717</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>24</real>
				<key>offsetY</key>
				<real>57</real>
			</dict>
			<key>saoguang11_1/saoguang11_1_2.png</key>
			<dict>
				<key>width</key>
				<integer>206</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>571</integer>
				<key>y</key>
				<integer>147</integer>
				<key>offsetX</key>
				<real>26.5</real>
				<key>offsetY</key>
				<real>57</real>
			</dict>
			<key>saoguang11_1/saoguang11_1_3.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>503</integer>
				<key>y</key>
				<integer>272</integer>
				<key>offsetX</key>
				<real>27</real>
				<key>offsetY</key>
				<real>57</real>
			</dict>
			<key>saoguang11_1/saoguang11_1_4.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>777</integer>
				<key>y</key>
				<integer>120</integer>
				<key>offsetX</key>
				<real>27.5</real>
				<key>offsetY</key>
				<real>57.5</real>
			</dict>
			<key>saoguang11_1/saoguang11_1_5.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>708</integer>
				<key>y</key>
				<integer>267</integer>
				<key>offsetX</key>
				<real>29.5</real>
				<key>offsetY</key>
				<real>57.5</real>
			</dict>
			<key>saoguang11_1/saoguang11_1_6.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>503</integer>
				<key>y</key>
				<integer>392</integer>
				<key>offsetX</key>
				<real>27.5</real>
				<key>offsetY</key>
				<real>58</real>
			</dict>
			<key>saoguang11_1/saoguang11_1_7.png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>708</integer>
				<key>y</key>
				<integer>388</integer>
				<key>offsetX</key>
				<real>24</real>
				<key>offsetY</key>
				<real>58.5</real>
			</dict>
			<key>saoguang11_1/saoguang11_1_8.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>501</integer>
				<key>offsetX</key>
				<real>23.5</real>
				<key>offsetY</key>
				<real>59</real>
			</dict>
			<key>saoguang11_1/saoguang11_1_9.png</key>
			<dict>
				<key>width</key>
				<integer>214</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>619</integer>
				<key>offsetX</key>
				<real>23.5</real>
				<key>offsetY</key>
				<real>60.5</real>
			</dict>
			<key>saoguang11_1/saoguang11_1_10.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>212</integer>
				<key>y</key>
				<integer>443</integer>
				<key>offsetX</key>
				<real>23</real>
				<key>offsetY</key>
				<real>61</real>
			</dict>
			<key>saoguang11_1/saoguang11_1_11.png</key>
			<dict>
				<key>width</key>
				<integer>216</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>736</integer>
				<key>offsetX</key>
				<real>22.5</real>
				<key>offsetY</key>
				<real>61.5</real>
			</dict>
			<key>saoguang11_1/saoguang11_1_12.png</key>
			<dict>
				<key>width</key>
				<integer>216</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>214</integer>
				<key>y</key>
				<integer>559</integer>
				<key>offsetX</key>
				<real>22.5</real>
				<key>offsetY</key>
				<real>62</real>
			</dict>
			<key>saoguang11_1/saoguang11_1_13.png</key>
			<dict>
				<key>width</key>
				<integer>216</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>849</integer>
				<key>offsetX</key>
				<real>22.5</real>
				<key>offsetY</key>
				<real>62.5</real>
			</dict>
			<key>saoguang11_1/saoguang11_1_14.png</key>
			<dict>
				<key>width</key>
				<integer>216</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>216</integer>
				<key>y</key>
				<integer>671</integer>
				<key>offsetX</key>
				<real>22.5</real>
				<key>offsetY</key>
				<real>58.5</real>
			</dict>
			<key>saoguang11_1/saoguang11_1_15.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>216</integer>
				<key>y</key>
				<integer>790</integer>
				<key>offsetX</key>
				<real>22</real>
				<key>offsetY</key>
				<real>58</real>
			</dict>
			<key>saoguang11_1/saoguang11_1_16.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>430</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>22</real>
				<key>offsetY</key>
				<real>57</real>
			</dict>
			<key>saoguang11_1/saoguang11_1_17.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>432</integer>
				<key>y</key>
				<integer>630</integer>
				<key>offsetX</key>
				<real>22</real>
				<key>offsetY</key>
				<real>56.5</real>
			</dict>
			<key>saoguang11_1/saoguang11_1_18.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>645</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>21.5</real>
				<key>offsetY</key>
				<real>57</real>
			</dict>
			<key>saoguang11_1/saoguang11_1_19.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>432</integer>
				<key>y</key>
				<integer>749</integer>
				<key>offsetX</key>
				<real>22.5</real>
				<key>offsetY</key>
				<real>57</real>
			</dict>
			<key>saoguang11_1/saoguang11_1_20.png</key>
			<dict>
				<key>width</key>
				<integer>210</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>645</integer>
				<key>y</key>
				<integer>632</integer>
				<key>offsetX</key>
				<real>23.5</real>
				<key>offsetY</key>
				<real>57</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>gf_saoguang80.png</string>
			<key>realTextureFileName</key>
			<string>gf_saoguang80.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>