<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lianyan_effect/lianyan_effect_1.png</key>
			<dict>
				<key>width</key>
				<integer>497</integer>
				<key>height</key>
				<integer>355</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>430</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-25.5</real>
			</dict>
			<key>lianyan_effect/lianyan_effect_2.png</key>
			<dict>
				<key>width</key>
				<integer>495</integer>
				<key>height</key>
				<integer>413</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>430</integer>
				<key>x</key>
				<integer>497</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>lianyan_effect/lianyan_effect_3.png</key>
			<dict>
				<key>width</key>
				<integer>495</integer>
				<key>height</key>
				<integer>410</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>430</integer>
				<key>x</key>
				<integer>992</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>lianyan_effect/lianyan_effect_4.png</key>
			<dict>
				<key>width</key>
				<integer>492</integer>
				<key>height</key>
				<integer>415</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>430</integer>
				<key>x</key>
				<integer>1487</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>lianyan_effect/lianyan_effect_5.png</key>
			<dict>
				<key>width</key>
				<integer>498</integer>
				<key>height</key>
				<integer>420</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>430</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>413</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>lianyan_effect/lianyan_effect_6.png</key>
			<dict>
				<key>width</key>
				<integer>498</integer>
				<key>height</key>
				<integer>358</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>430</integer>
				<key>x</key>
				<integer>498</integer>
				<key>y</key>
				<integer>413</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-27</real>
			</dict>
			<key>lianyan_effect/lianyan_effect_7.png</key>
			<dict>
				<key>width</key>
				<integer>494</integer>
				<key>height</key>
				<integer>347</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>430</integer>
				<key>x</key>
				<integer>996</integer>
				<key>y</key>
				<integer>415</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-21.5</real>
			</dict>
			<key>lianyan_effect/lianyan_effect_8.png</key>
			<dict>
				<key>width</key>
				<integer>486</integer>
				<key>height</key>
				<integer>342</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>430</integer>
				<key>x</key>
				<integer>1490</integer>
				<key>y</key>
				<integer>415</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-16</real>
			</dict>
			<key>lianyan_effect/lianyan_effect_9.png</key>
			<dict>
				<key>width</key>
				<integer>323</integer>
				<key>height</key>
				<integer>328</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>430</integer>
				<key>x</key>
				<integer>1490</integer>
				<key>y</key>
				<integer>757</integer>
				<key>offsetX</key>
				<real>15.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>lianyan_effect/lianyan_effect_10.png</key>
			<dict>
				<key>width</key>
				<integer>323</integer>
				<key>height</key>
				<integer>334</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>430</integer>
				<key>x</key>
				<integer>996</integer>
				<key>y</key>
				<integer>762</integer>
				<key>offsetX</key>
				<real>16.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>lianyan_effect/lianyan_effect_11.png</key>
			<dict>
				<key>width</key>
				<integer>225</integer>
				<key>height</key>
				<integer>341</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>430</integer>
				<key>x</key>
				<integer>1813</integer>
				<key>y</key>
				<integer>757</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>lianyan_effect/lianyan_effect_12.png</key>
			<dict>
				<key>width</key>
				<integer>229</integer>
				<key>height</key>
				<integer>236</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>430</integer>
				<key>x</key>
				<integer>498</integer>
				<key>y</key>
				<integer>771</integer>
				<key>offsetX</key>
				<real>-13.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>lianyan_effect/lianyan_effect_13.png</key>
			<dict>
				<key>width</key>
				<integer>175</integer>
				<key>height</key>
				<integer>242</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>430</integer>
				<key>x</key>
				<integer>727</integer>
				<key>y</key>
				<integer>771</integer>
				<key>offsetX</key>
				<real>12.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>lianyan_effect/lianyan_effect_14.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>226</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>430</integer>
				<key>x</key>
				<integer>1319</integer>
				<key>y</key>
				<integer>762</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>lianyan_effect/lianyan_effect_15.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>430</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>833</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>lianyan_effect/lianyan_effect_16.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>217</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>430</integer>
				<key>x</key>
				<integer>144</integer>
				<key>y</key>
				<integer>833</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>lianyan_effect/lianyan_effect_17.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>430</integer>
				<key>x</key>
				<integer>287</integer>
				<key>y</key>
				<integer>833</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-46</real>
			</dict>
			<key>lianyan_effect/lianyan_effect_18.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>430</integer>
				<key>x</key>
				<integer>287</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-46</real>
			</dict>
			<key>lianyan_effect/lianyan_effect_19.png</key>
			<dict>
				<key>width</key>
				<integer>2</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>430</integer>
				<key>x</key>
				<integer>2038</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>61</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ly_effect0.png</string>
			<key>realTextureFileName</key>
			<string>ly_effect0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>