<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gf_xingxing_1.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>saoguang5_1/saoguang5_1_1.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>321</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>48</integer>
				<key>offsetX</key>
				<real>-22</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>saoguang5_1/saoguang5_1_2.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>321</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>127</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-22</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>saoguang5_1/saoguang5_1_3.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>254</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-22</real>
				<key>offsetY</key>
				<real>45</real>
			</dict>
			<key>saoguang5_1/saoguang5_1_4.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>381</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-22</real>
				<key>offsetY</key>
				<real>45</real>
			</dict>
			<key>saoguang5_1/saoguang5_1_5.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>508</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-22</real>
				<key>offsetY</key>
				<real>45</real>
			</dict>
			<key>saoguang5_1/saoguang5_1_6.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>321</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>635</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>saoguang5_1/saoguang5_1_7.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>321</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>761</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>saoguang5_1/saoguang5_1_8.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>321</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>887</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>saoguang5_1/saoguang5_1_9.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>321</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>369</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>saoguang5_1/saoguang5_1_10.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>321</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>127</integer>
				<key>y</key>
				<integer>321</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>saoguang5_1/saoguang5_1_11.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>321</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>252</integer>
				<key>y</key>
				<integer>321</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>saoguang5_1/saoguang5_1_12.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>321</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>690</integer>
				<key>offsetX</key>
				<real>-20.5</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>saoguang5_1/saoguang5_1_13.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>321</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>377</integer>
				<key>y</key>
				<integer>320</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>saoguang5_1/saoguang5_1_14.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>321</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>125</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>saoguang5_1/saoguang5_1_15.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>502</integer>
				<key>y</key>
				<integer>320</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>44</real>
			</dict>
			<key>saoguang5_1/saoguang5_1_16.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>251</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>-22</real>
				<key>offsetY</key>
				<real>44</real>
			</dict>
			<key>saoguang5_1/saoguang5_1_17.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>628</integer>
				<key>y</key>
				<integer>321</integer>
				<key>offsetX</key>
				<real>-22</real>
				<key>offsetY</key>
				<real>44</real>
			</dict>
			<key>saoguang5_1/saoguang5_1_18.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>378</integer>
				<key>y</key>
				<integer>641</integer>
				<key>offsetX</key>
				<real>-22</real>
				<key>offsetY</key>
				<real>44</real>
			</dict>
			<key>saoguang5_1/saoguang5_1_19.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>755</integer>
				<key>y</key>
				<integer>321</integer>
				<key>offsetX</key>
				<real>-22</real>
				<key>offsetY</key>
				<real>44</real>
			</dict>
			<key>saoguang5_1/saoguang5_1_20.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>321</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>505</integer>
				<key>y</key>
				<integer>641</integer>
				<key>offsetX</key>
				<real>-22</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>saoguang5_3/saoguang5_3_1.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>882</integer>
				<key>y</key>
				<integer>321</integer>
				<key>offsetX</key>
				<real>78</real>
				<key>offsetY</key>
				<real>100</real>
			</dict>
			<key>saoguang5_3/saoguang5_3_2.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>937</integer>
				<key>y</key>
				<integer>321</integer>
				<key>offsetX</key>
				<real>75.5</real>
				<key>offsetY</key>
				<real>99.5</real>
			</dict>
			<key>saoguang5_3/saoguang5_3_3.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>632</integer>
				<key>y</key>
				<integer>641</integer>
				<key>offsetX</key>
				<real>74.5</real>
				<key>offsetY</key>
				<real>97.5</real>
			</dict>
			<key>saoguang5_3/saoguang5_3_4.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>882</integer>
				<key>y</key>
				<integer>398</integer>
				<key>offsetX</key>
				<real>73</real>
				<key>offsetY</key>
				<real>95.5</real>
			</dict>
			<key>saoguang5_3/saoguang5_3_5.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>702</integer>
				<key>y</key>
				<integer>641</integer>
				<key>offsetX</key>
				<real>71</real>
				<key>offsetY</key>
				<real>92.5</real>
			</dict>
			<key>saoguang5_3/saoguang5_3_6.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>882</integer>
				<key>y</key>
				<integer>489</integer>
				<key>offsetX</key>
				<real>65.5</real>
				<key>offsetY</key>
				<real>90</real>
			</dict>
			<key>saoguang5_3/saoguang5_3_7.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>773</integer>
				<key>y</key>
				<integer>641</integer>
				<key>offsetX</key>
				<real>59.5</real>
				<key>offsetY</key>
				<real>86</real>
			</dict>
			<key>saoguang5_3/saoguang5_3_8.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>882</integer>
				<key>y</key>
				<integer>587</integer>
				<key>offsetX</key>
				<real>50</real>
				<key>offsetY</key>
				<real>79</real>
			</dict>
			<key>saoguang5_3/saoguang5_3_9.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>632</integer>
				<key>y</key>
				<integer>739</integer>
				<key>offsetX</key>
				<real>41</real>
				<key>offsetY</key>
				<real>69</real>
			</dict>
			<key>saoguang5_3/saoguang5_3_10.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>707</integer>
				<key>y</key>
				<integer>739</integer>
				<key>offsetX</key>
				<real>32.5</real>
				<key>offsetY</key>
				<real>64.5</real>
			</dict>
			<key>saoguang5_3/saoguang5_3_11.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>632</integer>
				<key>y</key>
				<integer>815</integer>
				<key>offsetX</key>
				<real>22.5</real>
				<key>offsetY</key>
				<real>61</real>
			</dict>
			<key>saoguang5_3/saoguang5_3_12.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>632</integer>
				<key>y</key>
				<integer>887</integer>
				<key>offsetX</key>
				<real>12</real>
				<key>offsetY</key>
				<real>58</real>
			</dict>
			<key>saoguang5_3/saoguang5_3_13.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>953</integer>
				<key>y</key>
				<integer>398</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>54.5</real>
			</dict>
			<key>saoguang5_3/saoguang5_3_14.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>707</integer>
				<key>y</key>
				<integer>812</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>50</real>
			</dict>
			<key>saoguang5_3/saoguang5_3_15.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>954</integer>
				<key>y</key>
				<integer>469</integer>
				<key>offsetX</key>
				<real>-17.5</real>
				<key>offsetY</key>
				<real>46.5</real>
			</dict>
			<key>saoguang5_3/saoguang5_3_16.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>378</integer>
				<key>y</key>
				<integer>961</integer>
				<key>offsetX</key>
				<real>-24</real>
				<key>offsetY</key>
				<real>43.5</real>
			</dict>
			<key>saoguang5_3/saoguang5_3_17.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>124</integer>
				<key>y</key>
				<integer>963</integer>
				<key>offsetX</key>
				<real>-28.5</real>
				<key>offsetY</key>
				<real>40.5</real>
			</dict>
			<key>saoguang5_3/saoguang5_3_18.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>174</integer>
				<key>y</key>
				<integer>963</integer>
				<key>offsetX</key>
				<real>-31</real>
				<key>offsetY</key>
				<real>38</real>
			</dict>
			<key>saoguang5_3/saoguang5_3_19.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>48</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-33.5</real>
				<key>offsetY</key>
				<real>36.5</real>
			</dict>
			<key>saoguang5_3/saoguang5_3_20.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>82</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-35.5</real>
				<key>offsetY</key>
				<real>36</real>
			</dict>
			<key>saoguang5_2/saoguang5_2_1.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>48</integer>
				<key>y</key>
				<integer>41</integer>
				<key>offsetX</key>
				<real>73.5</real>
				<key>offsetY</key>
				<real>19.5</real>
			</dict>
			<key>saoguang5_2/saoguang5_2_2.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>6</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>56</integer>
				<key>y</key>
				<integer>41</integer>
				<key>offsetX</key>
				<real>77</real>
				<key>offsetY</key>
				<real>18</real>
			</dict>
			<key>saoguang5_2/saoguang5_2_3.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>79.5</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
			<key>saoguang5_2/saoguang5_2_4.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>82</integer>
				<key>y</key>
				<integer>22</integer>
				<key>offsetX</key>
				<real>85</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
			<key>saoguang5_2/saoguang5_2_5.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>8</integer>
				<key>offsetX</key>
				<real>90.5</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
			<key>saoguang5_2/saoguang5_2_6.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>82</integer>
				<key>y</key>
				<integer>30</integer>
				<key>offsetX</key>
				<real>95</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
			<key>saoguang5_2/saoguang5_2_7.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>7</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>71</integer>
				<key>y</key>
				<integer>41</integer>
				<key>offsetX</key>
				<real>101.5</real>
				<key>offsetY</key>
				<real>17.5</real>
			</dict>
			<key>saoguang5_2/saoguang5_2_8.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>103</integer>
				<key>y</key>
				<integer>16</integer>
				<key>offsetX</key>
				<real>107</real>
				<key>offsetY</key>
				<real>16</real>
			</dict>
			<key>saoguang5_2/saoguang5_2_9.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>105</integer>
				<key>y</key>
				<integer>24</integer>
				<key>offsetX</key>
				<real>112</real>
				<key>offsetY</key>
				<real>15</real>
			</dict>
			<key>saoguang5_2/saoguang5_2_10.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>105</integer>
				<key>y</key>
				<integer>34</integer>
				<key>offsetX</key>
				<real>117.5</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
			<key>saoguang5_2/saoguang5_2_11.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>16</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>217</integer>
				<key>y</key>
				<integer>963</integer>
				<key>offsetX</key>
				<real>122.5</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>saoguang5_2/saoguang5_2_12.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>217</integer>
				<key>y</key>
				<integer>979</integer>
				<key>offsetX</key>
				<real>127</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>saoguang5_2/saoguang5_2_13.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>237</integer>
				<key>y</key>
				<integer>963</integer>
				<key>offsetX</key>
				<real>131.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>saoguang5_2/saoguang5_2_14.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>257</integer>
				<key>y</key>
				<integer>962</integer>
				<key>offsetX</key>
				<real>136</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>saoguang5_2/saoguang5_2_15.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>236</integer>
				<key>y</key>
				<integer>990</integer>
				<key>offsetX</key>
				<real>138.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>saoguang5_2/saoguang5_2_16.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>276</integer>
				<key>y</key>
				<integer>962</integer>
				<key>offsetX</key>
				<real>141.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>saoguang5_2/saoguang5_2_17.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>15</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>217</integer>
				<key>y</key>
				<integer>1001</integer>
				<key>offsetX</key>
				<real>149.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>saoguang5_2/saoguang5_2_18.png</key>
			<dict>
				<key>width</key>
				<integer>11</integer>
				<key>height</key>
				<integer>12</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1011</integer>
				<key>offsetX</key>
				<real>152</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>saoguang5_2/saoguang5_2_19.png</key>
			<dict>
				<key>width</key>
				<integer>6</integer>
				<key>height</key>
				<integer>9</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>1012</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>154.5</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>saoguang5_2/saoguang5_2_20.png</key>
			<dict>
				<key>width</key>
				<integer>3</integer>
				<key>height</key>
				<integer>5</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>16</integer>
				<key>offsetX</key>
				<real>156</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>gf_saoguang50.png</string>
			<key>realTextureFileName</key>
			<string>gf_saoguang50.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>