<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>saoguang3_3/saoguang3_3_1.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>13</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-66.5</real>
				<key>offsetY</key>
				<real>-33.5</real>
			</dict>
			<key>saoguang3_3/saoguang3_3_2.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>16</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-64</real>
				<key>offsetY</key>
				<real>-26</real>
			</dict>
			<key>saoguang3_3/saoguang3_3_3.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>37</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-61</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>saoguang3_3/saoguang3_3_4.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>64</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-59.5</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>saoguang3_3/saoguang3_3_5.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>92</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-57</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>saoguang3_3/saoguang3_3_6.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>28</integer>
				<key>offsetX</key>
				<real>-56</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>saoguang3_3/saoguang3_3_7.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>21</integer>
				<key>y</key>
				<integer>47</integer>
				<key>offsetX</key>
				<real>-55.5</real>
				<key>offsetY</key>
				<real>28</real>
			</dict>
			<key>saoguang3_3/saoguang3_3_8.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>72</integer>
				<key>offsetX</key>
				<real>-43</real>
				<key>offsetY</key>
				<real>70</real>
			</dict>
			<key>saoguang3_3/saoguang3_3_9.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>41</integer>
				<key>y</key>
				<integer>59</integer>
				<key>offsetX</key>
				<real>-40</real>
				<key>offsetY</key>
				<real>76</real>
			</dict>
			<key>saoguang3_3/saoguang3_3_10.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>66</integer>
				<key>y</key>
				<integer>59</integer>
				<key>offsetX</key>
				<real>-37</real>
				<key>offsetY</key>
				<real>78</real>
			</dict>
			<key>saoguang3_3/saoguang3_3_11.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>115</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-34</real>
				<key>offsetY</key>
				<real>89.5</real>
			</dict>
			<key>saoguang3_3/saoguang3_3_12.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>127</integer>
				<key>offsetX</key>
				<real>25.5</real>
				<key>offsetY</key>
				<real>62.5</real>
			</dict>
			<key>saoguang3_3/saoguang3_3_13.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>35.5</real>
				<key>offsetY</key>
				<real>62.5</real>
			</dict>
			<key>saoguang3_3/saoguang3_3_14.png</key>
			<dict>
				<key>width</key>
				<integer>147</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>144</integer>
				<key>y</key>
				<integer>121</integer>
				<key>offsetX</key>
				<real>46</real>
				<key>offsetY</key>
				<real>62.5</real>
			</dict>
			<key>saoguang3_3/saoguang3_3_15.png</key>
			<dict>
				<key>width</key>
				<integer>147</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>300</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>50</real>
				<key>offsetY</key>
				<real>64.5</real>
			</dict>
			<key>saoguang3_3/saoguang3_3_16.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>291</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>55.5</real>
				<key>offsetY</key>
				<real>68</real>
			</dict>
			<key>saoguang3_3/saoguang3_3_17.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>246</integer>
				<key>offsetX</key>
				<real>73.5</real>
				<key>offsetY</key>
				<real>71</real>
			</dict>
			<key>saoguang3_3/saoguang3_3_18.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>100</integer>
				<key>y</key>
				<integer>246</integer>
				<key>offsetX</key>
				<real>75.5</real>
				<key>offsetY</key>
				<real>75.5</real>
			</dict>
			<key>saoguang3_3/saoguang3_3_19.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>370</integer>
				<key>offsetX</key>
				<real>69.5</real>
				<key>offsetY</key>
				<real>100</real>
			</dict>
			<key>saoguang3_3/saoguang3_3_20.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>436</integer>
				<key>offsetX</key>
				<real>75.5</real>
				<key>offsetY</key>
				<real>103.5</real>
			</dict>
			<key>saoguang3_2/saoguang3_2_1.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>96</integer>
				<key>offsetX</key>
				<real>-52.5</real>
				<key>offsetY</key>
				<real>-84</real>
			</dict>
			<key>saoguang3_2/saoguang3_2_2.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>97</integer>
				<key>y</key>
				<integer>58</integer>
				<key>offsetX</key>
				<real>-57.5</real>
				<key>offsetY</key>
				<real>-79</real>
			</dict>
			<key>saoguang3_2/saoguang3_2_3.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>117</integer>
				<key>y</key>
				<integer>51</integer>
				<key>offsetX</key>
				<real>-62.5</real>
				<key>offsetY</key>
				<real>-78</real>
			</dict>
			<key>saoguang3_2/saoguang3_2_4.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>68</integer>
				<key>y</key>
				<integer>370</integer>
				<key>offsetX</key>
				<real>-67</real>
				<key>offsetY</key>
				<real>-80.5</real>
			</dict>
			<key>saoguang3_2/saoguang3_2_5.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>196</integer>
				<key>y</key>
				<integer>242</integer>
				<key>offsetX</key>
				<real>-69</real>
				<key>offsetY</key>
				<real>-88.5</real>
			</dict>
			<key>saoguang3_2/saoguang3_2_6.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>447</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-69</real>
				<key>offsetY</key>
				<real>-96.5</real>
			</dict>
			<key>saoguang3_2/saoguang3_2_7.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>107</integer>
				<key>y</key>
				<integer>361</integer>
				<key>offsetX</key>
				<real>-71.5</real>
				<key>offsetY</key>
				<real>-104.5</real>
			</dict>
			<key>saoguang3_2/saoguang3_2_8.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>239</integer>
				<key>y</key>
				<integer>242</integer>
				<key>offsetX</key>
				<real>-78</real>
				<key>offsetY</key>
				<real>-112.5</real>
			</dict>
			<key>saoguang3_2/saoguang3_2_9.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>155</integer>
				<key>y</key>
				<integer>361</integer>
				<key>offsetX</key>
				<real>-85.5</real>
				<key>offsetY</key>
				<real>-120.5</real>
			</dict>
			<key>saoguang3_2/saoguang3_2_10.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>447</integer>
				<key>y</key>
				<integer>93</integer>
				<key>offsetX</key>
				<real>-91.5</real>
				<key>offsetY</key>
				<real>-128.5</real>
			</dict>
			<key>saoguang3_2/saoguang3_2_11.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>286</integer>
				<key>y</key>
				<integer>255</integer>
				<key>offsetX</key>
				<real>-97</real>
				<key>offsetY</key>
				<real>-137</real>
			</dict>
			<key>saoguang3_2/saoguang3_2_12.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>329</integer>
				<key>y</key>
				<integer>255</integer>
				<key>offsetX</key>
				<real>-102.5</real>
				<key>offsetY</key>
				<real>-170.5</real>
			</dict>
			<key>saoguang3_2/saoguang3_2_13.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>199</integer>
				<key>y</key>
				<integer>367</integer>
				<key>offsetX</key>
				<real>-108.5</real>
				<key>offsetY</key>
				<real>-182.5</real>
			</dict>
			<key>saoguang3_2/saoguang3_2_14.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>243</integer>
				<key>y</key>
				<integer>367</integer>
				<key>offsetX</key>
				<real>-112.5</real>
				<key>offsetY</key>
				<real>-194.5</real>
			</dict>
			<key>saoguang3_2/saoguang3_2_15.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>373</integer>
				<key>y</key>
				<integer>255</integer>
				<key>offsetX</key>
				<real>-116.5</real>
				<key>offsetY</key>
				<real>-204.5</real>
			</dict>
			<key>saoguang3_2/saoguang3_2_16.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>413</integer>
				<key>y</key>
				<integer>255</integer>
				<key>offsetX</key>
				<real>-119.5</real>
				<key>offsetY</key>
				<real>-211.5</real>
			</dict>
			<key>saoguang3_2/saoguang3_2_17.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>68</integer>
				<key>y</key>
				<integer>431</integer>
				<key>offsetX</key>
				<real>-122</real>
				<key>offsetY</key>
				<real>-218.5</real>
			</dict>
			<key>saoguang3_2/saoguang3_2_18.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>447</integer>
				<key>y</key>
				<integer>250</integer>
				<key>offsetX</key>
				<real>-125</real>
				<key>offsetY</key>
				<real>-225.5</real>
			</dict>
			<key>saoguang3_2/saoguang3_2_19.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>490</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-128</real>
				<key>offsetY</key>
				<real>-232.5</real>
			</dict>
			<key>saoguang3_2/saoguang3_2_20.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>56</integer>
				<key>y</key>
				<integer>436</integer>
				<key>offsetX</key>
				<real>-131.5</real>
				<key>offsetY</key>
				<real>-241</real>
			</dict>
			<key>saoguang3_1/saoguang3_1_1.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>329</integer>
				<key>y</key>
				<integer>382</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>46</real>
			</dict>
			<key>saoguang3_1/saoguang3_1_2.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>413</integer>
				<key>y</key>
				<integer>350</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>45.5</real>
			</dict>
			<key>saoguang3_1/saoguang3_1_3.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>507</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>45.5</real>
			</dict>
			<key>saoguang3_1/saoguang3_1_4.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>559</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>45.5</real>
			</dict>
			<key>saoguang3_1/saoguang3_1_5.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>612</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>45.5</real>
			</dict>
			<key>saoguang3_1/saoguang3_1_6.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>491</integer>
				<key>y</key>
				<integer>131</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>45</real>
			</dict>
			<key>saoguang3_1/saoguang3_1_7.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>666</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>45</real>
			</dict>
			<key>saoguang3_1/saoguang3_1_8.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>545</integer>
				<key>y</key>
				<integer>131</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>45</real>
			</dict>
			<key>saoguang3_1/saoguang3_1_9.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>720</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>saoguang3_1/saoguang3_1_10.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>601</integer>
				<key>y</key>
				<integer>131</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>saoguang3_1/saoguang3_1_11.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>470</integer>
				<key>y</key>
				<integer>263</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>saoguang3_1/saoguang3_1_12.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>776</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>saoguang3_1/saoguang3_1_13.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>526</integer>
				<key>y</key>
				<integer>263</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>44</real>
			</dict>
			<key>saoguang3_1/saoguang3_1_14.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>657</integer>
				<key>y</key>
				<integer>132</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>saoguang3_1/saoguang3_1_15.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>831</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>saoguang3_1/saoguang3_1_16.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>712</integer>
				<key>y</key>
				<integer>132</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>45</real>
			</dict>
			<key>saoguang3_1/saoguang3_1_17.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>581</integer>
				<key>y</key>
				<integer>263</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>45</real>
			</dict>
			<key>saoguang3_1/saoguang3_1_18.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>886</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>45.5</real>
			</dict>
			<key>saoguang3_1/saoguang3_1_19.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>636</integer>
				<key>y</key>
				<integer>262</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>45.5</real>
			</dict>
			<key>saoguang3_1/saoguang3_1_20.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>767</integer>
				<key>y</key>
				<integer>131</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>46</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>gf_saoguang100.png</string>
			<key>realTextureFileName</key>
			<string>gf_saoguang100.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>