<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>phb_xingxing_1.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>phb_liuguang/phb_liuguang_1.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>58</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-280.5</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
			<key>phb_liuguang/phb_liuguang_2.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>139</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-237</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>phb_liuguang/phb_liuguang_3.png</key>
			<dict>
				<key>width</key>
				<integer>248</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>58</integer>
				<key>y</key>
				<integer>65</integer>
				<key>offsetX</key>
				<real>-190</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>phb_liuguang/phb_liuguang_4.png</key>
			<dict>
				<key>width</key>
				<integer>288</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>130</integer>
				<key>offsetX</key>
				<real>-123</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>phb_liuguang/phb_liuguang_5.png</key>
			<dict>
				<key>width</key>
				<integer>289</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>189</integer>
				<key>offsetX</key>
				<real>-37.5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>phb_liuguang/phb_liuguang_6.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>248</integer>
				<key>offsetX</key>
				<real>49</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>phb_liuguang/phb_liuguang_7.png</key>
			<dict>
				<key>width</key>
				<integer>289</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>307</integer>
				<key>offsetX</key>
				<real>135.5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>phb_liuguang/phb_liuguang_8.png</key>
			<dict>
				<key>width</key>
				<integer>245</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>366</integer>
				<key>offsetX</key>
				<real>201.5</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>phb_liuguang/phb_liuguang_9.png</key>
			<dict>
				<key>width</key>
				<integer>158</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>307</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>245</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>phb_liuguang/phb_liuguang_10.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>306</integer>
				<key>y</key>
				<integer>66</integer>
				<key>offsetX</key>
				<real>286.5</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>phb_glow_1.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>306</integer>
				<key>y</key>
				<integer>110</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>phb_bangdanxiaoguo0.png</string>
			<key>realTextureFileName</key>
			<string>phb_bangdanxiaoguo0.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>